<div style="display:flex; align-items: center; justify-content: center; height:100vh">
    <div style = "border: 1px solid black; border-radius: 10px; padding:10px">
    <display-root [texto]=textoB></display-root>

        <botao-root texto="1" (clicouBotao) = "clicou($event)" comprimento = "50px" altura ="40px" textoTamanho="2vh"></botao-root>
        <botao-root texto="2" (clicouBotao) = "clicou($event)" comprimento = "50px" altura ="40px" textoTamanho="2vh"></botao-root>
        <botao-root texto="3" (clicouBotao) = "clicou($event)" comprimento = "50px" altura ="40px" textoTamanho="2vh"></botao-root>
        <botao-root texto="+" (clicouBotao) = "clicou($event)" comprimento = "50px" altura ="40px" textoTamanho="2vh"></botao-root><br>
        <botao-root texto="4"(clicouBotao) = "clicou($event)" comprimento = "50px" altura ="40px" textoTamanho="2vh"></botao-root>
        <botao-root texto="5" (clicouBotao) = "clicou($event)" comprimento = "50px" altura ="40px" textoTamanho="2vh"></botao-root>
        <botao-root texto="6" (clicouBotao) = "clicou($event)" comprimento = "50px" altura ="40px" textoTamanho="2vh"></botao-root>
        <botao-root texto="-" (clicouBotao) = "clicou($event)" comprimento = "50px" altura ="40px" textoTamanho="2vh"></botao-root><br>
        <botao-root texto="7" (clicouBotao) = "clicou($event)" comprimento = "50px" altura ="40px" textoTamanho="2vh"></botao-root>
        <botao-root texto="8" (clicouBotao) = "clicou($event)" comprimento = "50px" altura ="40px" textoTamanho="2vh"></botao-root>
        <botao-root texto="9" (clicouBotao) = "clicou($event)" comprimento = "50px" altura ="40px" textoTamanho="2vh"></botao-root>
        <botao-root texto="*" (clicouBotao) = "clicou($event)" comprimento = "50px" altura ="40px" textoTamanho="2vh"></botao-root><br>
        <botao-root texto="." (clicouBotao) = "clicou($event)" comprimento = "50px" altura ="40px" textoTamanho="2vh"></botao-root>
        <botao-root texto="0" (clicouBotao) = "clicou($event)" comprimento = "50px" altura ="40px" textoTamanho="2vh"></botao-root>
        <botao-root texto="=" (clicouBotao) = "clicou($event)" comprimento = "50px" altura ="40px" textoTamanho="2vh"></botao-root>
        <botao-root texto="/" (clicouBotao) = "clicou($event)" comprimento = "50px" altura ="40px" textoTamanho="2vh"></botao-root><br>
        <botao-root texto="Delete" (clicouBotao) = "clicou($event)" comprimento = "100px" altura ="40px" textoTamanho="2vh"></botao-root>
        <botao-root texto="Back" (clicouBotao) = "clicou($event)" comprimento = "100px" altura ="40px" textoTamanho="2vh"></botao-root>
    </div>
</div>
